/*! purgecss start ignore */
@import "tailwindcss/base.css"
@import "tailwindcss/components.css"
@import "froala-editor/css/froala_style.min.css"
/*! purgecss end ignore */

@import "./theme.pcss"

@import "tailwindcss/utilities.css"
